* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Geneva', sans-serif;
	background-color: #000030;
	color: aliceblue;
	text-align: center;
	max-width: 100%;
	min-height: 100%;
}

h1 {
	font-size: 50px;
	font-weight: normal;
	font-stretch: expanded;
	margin: 0.75em;
}

p {
	font-size: 1rem;
	color: rgb(255, 217, 0);
	text-align: center;
}

a {
	color: hsl(160, 100%, 75%);
	text-decoration: none;
	cursor: pointer;
}
